@use 'sass:color';
@import './variables';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

h1 {
  text-align: center;
  color: $primary-color;
}

h2 {
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: $border-radius-sm;
  width: 100px;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

section {
  margin: 50px auto;

  @media (max-width: $breakpoint-sm) {
    margin: 20px auto;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: $breakpoint-sm) {
    display: grid;
  }

  button {
    position: absolute;
    right: 20px;

    @media (max-width: $breakpoint-sm) {
      margin: auto;
      position: initial;
      font-size: $font-size-md;
    }
  }
}
