@import '../styles/global.scss';

.home-container {
  text-align: left;
  width: 700px;
  height: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.5em;
    color: #3f3f3f;
  }

}