@import './global';

.home-container {
  text-align: left;
  width: 700px;
  height: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: $content-background-color;
  border-radius: $border-radius-md;
  box-shadow: $content-shadow;

  .home-text {
    font-size: $font-size-lg;
    color: $text-color;
    margin-top: 10px;
  }
}
