@import '../styles/global';

.login-container {
  max-width: 700px;
  height: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: $content-background-color;
  border-radius: 10px;
  box-shadow: $content-shadow;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: auto;

    .input-container {
      width: 100%;

      input {
        width: 100%;
        margin: 10px 0 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .error {
        font-size: 0.9rem;
        color: $error-color;
        margin: 0;
      }
    }

    button {
      align-self: flex-end;
      margin-top: 20px;
    }

    .spinner {
      width: 1rem;
      height: 1rem;
      border: 2px solid #fff;
      border-top: 2px solid transparent;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
